
<%= simple_form_for(@tenant) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :surname %>
    <%= f.input :dob %>
    <%= f.input :mobile_number %>
    <%= f.input :email %>
    <%= f.input :nationality %>
    <%= f.input :studying_at %>
    <%= f.input :student_id_number %>
    <%= f.input :course %>
    <%= f.input :guarantor_name %>
    <%= f.input :guarantor_address %>
    <%= f.input :guarantor_post_code %>
    <%= f.input :guarantor_email %>
    <%= f.input :guarantor_mobile %>
    <%= f.input :guarantor_relationship %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
