<p id="notice"><%= notice %></p>

<h1>Tenants</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Surname</th>
      <th>Dob</th>
      <th>Mobile number</th>
      <th>Email</th>
      <th>Nationality</th>
      <th>Studying at</th>
      <th>Student id number</th>
      <th>Course</th>
      <th>Guarantor name</th>
      <th>Guarantor address</th>
      <th>Guarantor post code</th>
      <th>Guarantor email</th>
      <th>Guarantor mobile</th>
      <th>Guarantor relationship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.first_name %></td>
        <td><%= tenant.surname %></td>
        <td><%= tenant.dob %></td>
        <td><%= tenant.mobile_number %></td>
        <td><%= tenant.email %></td>
        <td><%= tenant.nationality %></td>
        <td><%= tenant.studying_at %></td>
        <td><%= tenant.student_id_number %></td>
        <td><%= tenant.course %></td>
        <td><%= tenant.guarantor_name %></td>
        <td><%= tenant.guarantor_address %></td>
        <td><%= tenant.guarantor_post_code %></td>
        <td><%= tenant.guarantor_email %></td>
        <td><%= tenant.guarantor_mobile %></td>
        <td><%= tenant.guarantor_relationship %></td>
        <td><%= link_to 'Show', tenant %></td>
        <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
        <td><%= link_to 'Destroy', tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tenant', new_tenant_path, class: 'btn btn-primary' %>
