<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @tenant.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @tenant.surname %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @tenant.dob %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @tenant.mobile_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tenant.email %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @tenant.nationality %>
</p>

<p>
  <strong>Studying at:</strong>
  <%= @tenant.studying_at %>
</p>

<p>
  <strong>Student id number:</strong>
  <%= @tenant.student_id_number %>
</p>

<p>
  <strong>Course:</strong>
  <%= @tenant.course %>
</p>

<p>
  <strong>Guarantor name:</strong>
  <%= @tenant.guarantor_name %>
</p>

<p>
  <strong>Guarantor address:</strong>
  <%= @tenant.guarantor_address %>
</p>

<p>
  <strong>Guarantor post code:</strong>
  <%= @tenant.guarantor_post_code %>
</p>

<p>
  <strong>Guarantor email:</strong>
  <%= @tenant.guarantor_email %>
</p>

<p>
  <strong>Guarantor mobile:</strong>
  <%= @tenant.guarantor_mobile %>
</p>

<p>
  <strong>Guarantor relationship:</strong>
  <%= @tenant.guarantor_relationship %>
</p>

<%= link_to 'Edit', edit_tenant_path(@tenant) %> |
<%= link_to 'Back', tenants_path %>
