<%= simple_form_for @property do |f| %>

  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :number %>
    <%= f.text_field :number, id: :property_number, class: 'form-control' %>
  </div>

  <%= f.file_field :property_image %>

  <div class="form-group">
    <%= f.label :street %>
    <%= f.text_field :street, id: :property_street, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :address_line_2 %>
    <%= f.text_field :address_line_2, id: :property_address_line_2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, id: :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :county %>
    <%= f.text_field :county, id: :property_county, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :postcode %>
    <%= f.text_field :postcode, id: :property_postcode, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.input :property_type, as: :check_boxes, collection: %w(Student Graduate Professional Family) %>
  </div>

  <div class="form-group">
    <%= f.label :number_of_rooms %>
    <%= f.text_field :number_of_rooms, id: :number_of_rooms, class: 'form-control' %>  </div>

  <div class="actions">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  </div>
<% end %>
