<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Street</th>
      <th>Address line 2</th>
      <th>City</th>
      <th>Postcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.number %></td>
        <td><%= property.street %></td>
        <td><%= property.address_line_2 %></td>
        <td><%= property.city %></td>
        <td><%= property.postcode %></td>
        <td><%= link_to (fa_icon 'search'), property %></td>
        <td><%= link_to (fa_icon 'edit'), edit_property_path(property) %></td>
        <td><%= link_to (fa_icon 'trash'), property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_property_path, class: 'btn btn-primary' %>
