<p id="notice"><%= notice %></p>

<div class="container">
  <h2><%= @property.property_name %></h2>
  <div class="row">
    <div class="col">
      <h3>Images</h3>
      <%= image_tag(@property.property_image, class: 'img-fluid') if @property.property_image.attached? %>
    </div>
    <div class="col">
      <h3>Details</h3>
      <p>
        <strong>Number of rooms:</strong>
        <%= @property.number_of_rooms %>
      </p>
      <%#= link_to 'Create rooms', controller: :rooms, action: :new %>
      <%#= link_to 'Create rooms', create_associated_rooms %>
      <p>
        <strong>Address line 2:</strong>
        <%= @property.address_line_2 %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @property.city %>
      </p>

      <p>
        <strong>County:</strong>
        <%= @property.county %>
      </p>

      <p>
        <strong>Postcode:</strong>
        <%= @property.postcode %>
      </p>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_property_path(@property), class: 'btn btn-primary' %> |
<%= link_to 'Back', properties_path, class: 'btn btn-secondary' %>
