<div class="page-title">
  <h1>My dashboard</h1>
</div>

<!--<div class="row">-->
<!--  <div class="col-6">-->
<!--    <h2>Property details</h2>-->
<!--    <table class="table">-->
<!--      <tr>-->
<!--        <td>Total number of properties:</td>-->
<!--        <td><%#= @properties.count %></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Total number of rooms:</td>-->
<!--        <td><%#= @rooms.count %></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Rooms let:</td>-->
<!--        <td><%#= @rooms_let.count %></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Rooms not let:</td>-->
<!--        <td><%#= @rooms_not_let.count %></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Total landlords:</td>-->
<!--        <td><%#= @landlords.count %></td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
<!--  <div class="col-6">-->
<!--    <h2>Notices</h2>-->
<!--    <h3>Holidays</h3>-->

<!--  </div>-->



<!--  </div>-->
  <div class="col-xs-12">
    <div class='calendar'></div>

  </div>
<!--</div>-->