<%= simple_form_for @event, remote: true do |f| %>
  <div class="row">
    <div class="col-12">
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>

    <div class="col">
      <div class="form-inputs">
        <%= f.input :title %>
        <div class="form-group">
          <%= f.label :property_id %>
          <%= f.collection_select(:property_id, Property.all, :id, :property_name, {}, {class: 'form-control'}) %>
        </div>

        <div class="form-group">
          <%= f.label :user_id, 'Agent' %>
          <%= f.collection_select(:user_id, User.all, :id, :username, {}, {class: 'form-control'}) %>
        </div>

        <div class="form-group">
          <%= f.label :event_type %>
          <%= f.select(:event_type, options_for_select([ ['Viewing', 1], ['Maintainence', 2] ] ), {}, {:class => 'form-control'})  %>
        </div>

        <%= f.input :start, as: :time, start_year: Date.current.year, end_year: Date.today.year + 1 %>
        <%= f.input :end, as: :time %>
      </div>
      <div class="form-group">
        <%= f.input :notes %>
      </div>
    </div>

    <div class="col-12">
      <div class="form-actions text-right">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <%= link_to 'Cancel', events_path, class: 'btn btn-secondary' %>
        <%= link_to 'Delete',
                    event,
                    method: :delete,
                    class: 'btn btn-danger',
                    data: { confirm: 'Are you sure?' },
                    remote: true unless @event.new_record? %>
      </div>
    </div>
  </div>
<% end %>
