<p id="notice"><%= notice %></p>

<p>
  <strong>Event title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Event Type:</strong>
  <%= @event.event_type %>
</p>



<p>
  <strong>Note:</strong>
  <%= @event.notes %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
