<%= simple_form_for(@room, html: { class: '' }) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :number %>
    <%= form.text_field :number, id: :room_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :room_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :room_description, class: 'form-control' %>
  </div>

  <div class="form-row align-items-center">
    <%= form.label :tenancy_start, class: 'my-1 mr-2' %>
    <%= form.date_select :tenancy_start, {id: :room_tenancy_start}, {class: 'form-control col-sm-2 my-1'} %>
  </div>

  <div class="form-row align-items-center">
    <%= form.label :tenancy_end, class: 'my-1 mr-2' %>
    <%= form.date_select :tenancy_end, {id: :room_tenancy_end}, {class: 'form-control col-sm-2 my-1'} %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.text_field :price, id: :room_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :property_id %>
    <%= form.collection_select(:property_id, Property.all, :id, :property_name, {}, {class: 'form-control'}) %>
  </div>

  <div class="form-group">
    <%= form.label :landlord_id %>
    <%= form.collection_select(:landlord_id, Landlord.all, :id, :landlord_name, {}, {class: 'form-control'}) %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', class: 'btn btn-primary' %>
    <%= link_to 'Back', rooms_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
