<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Property</th>
      <th>Room No.</th>
      <th>Title</th>
      <th>Tenancy start</th>
      <th>Tenancy end</th>
      <th>Price</th>
      <th>Landlord</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.property.property_name %></td>
        <td><%= room.number %></td>
        <td><%= room.title %></td>
        <td><%= room.tenancy_start.to_formatted_s(:rfc822) %></td>
        <td><%= room.tenancy_end.to_formatted_s(:rfc822) %></td>
        <td>&#163;<%= room.price %></td>
        <td><%= room.landlord.landlord_name %></td>
        <td><%= link_to (fa_icon 'search'), room %></td>
        <td><%= link_to (fa_icon 'edit'), edit_room_path(room) %></td>
        <td><%= link_to (fa_icon 'trash'), room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path, class: 'btn btn-primary' %>
