<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <p>
      <strong>Property:</strong>
      <%= @room.property.property_name %>
      <%= @room.property.county %>
    </p>
    <%= image_tag(@room.property.property_image, class: 'img-fluid') if @room.property.property_image.attached?  %>
  </div>

  <div class="col">
    <p>
      <strong>Room Number:</strong>
      <%= @room.number %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @room.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @room.description %>
    </p>

    <p>
      <strong>Tenancy start:</strong>
      <%= @room.tenancy_start %>
    </p>

    <p>
      <strong>Tenancy end:</strong>
      <%= @room.tenancy_end %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @room.price %>
    </p>

    <p>
      <strong>Landlord:</strong>
      <%= @room.landlord.landlord_name %>
    </p>
  </div>
</div>




<%= link_to 'Edit', edit_room_path(@room), class: 'btn btn-primary' %> |
<%= link_to 'Back', rooms_path, class: 'btn btn-secondary' %>
