nav {
  &.navbar {
    margin-bottom: 50px;
    padding: 1rem 1.5rem;
  }
  .home-link {
    margin-right: 15px;
    width: 105px;
  }
  .nav-item {
    margin: 0 15px 0 0;
    &:last-of-type {
      margin-right: 0;
    }
    .nav-link {
      color: $font-colour;
      &:hover {
        color: $primary;
      }
    }
    &.active {
      .nav-link {
        color: $primary;
      }
    }
  }
  .navbar-link {
    &.edit-user {
      color: $primary;
    }
    &.logout {
      padding: 10px;
      color: $white;
      background: $secondary;
      border-radius: 3px;
    }
  }

  #nav-username {
    color: $primary;
  }

  p.navbar-text {
    margin-bottom: 0;
  }
}