// Global styles
html {
  font-size: 10px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
}
h1, h2, h3 {
  color: $primary;
}
h1 {
  margin-bottom: 2.8rem;
}
h2 {
  margin-bottom: 2rem;
}

p {
  color: $font-colour;
}


section {
  padding: 3rem;
}



// Bootstrap overides
.btn {
  font-size: 1.6rem;
}

abbr[title], abbr[data-original-title] {
  text-decoration: none;
  color: $primary;
}

// FORMS
.form-group {
  margin-bottom: 2rem;
  input[type="checkbox"] {
    margin-right: 1rem;
  }
  select {
    &.form-control {
      &:not([size]):not([multiple]) {
        height: auto;
      }
    }
  }

  .form-control {
    font-size: 1.6rem;
  }
  .check_boxes {
    .form-check {
      label {
        margin-left: 1rem;
      }
    }
  }
}