// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-brand-logo {
  max-width: 80%;
  text-align: center;
  margin: 0 auto 2rem;
  img {
    max-height: 250px;
  }
}

.simple-calendar {
  .event-row {
    .event_type {
      width: 49px;
    }
    .maintainence {
      background: yellow;
      i {
        &:before {
          content: '\f0ad';
        }
      }
    }
    .viewing {
      background: green;
      i {
        &:before {
          content: '\f015';
        }
      }
    }
    .landlord {
      background: $blue;
      i {
        &:before {
          content: '\f505';
        }
      }
    }
    .holiday {
      background: orange;
      i {
        &:before {
          content: '\f0e9';
        }
      }
    }
  }
}