<%= form_with(model: landlord, local: true) do |form| %>
  <% if landlord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(landlord.errors.count, "error") %> prohibited this landlord from being saved:</h2>

      <ul>
      <% landlord.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :landlord_title %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :landlord_first_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :landlord_surname %>
  </div>

  <div class="field">
    <%= form.label :contact_number %>
    <%= form.text_field :contact_number, id: :landlord_contact_number %>
  </div>

  <div class="field">
    <%= form.label :alternate_number %>
    <%= form.text_field :alternate_number, id: :landlord_alternate_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :landlord_email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :landlord_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
