<p id="notice"><%= notice %></p>

<h1>Landlords</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Surname</th>
      <th>Contact number</th>
      <th>Email</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @landlords.each do |landlord| %>
      <tr>
        <td><%= landlord.first_name %></td>
        <td><%= landlord.surname %></td>
        <td><%= landlord.contact_number %></td>
        <td><%= landlord.email %></td>
        <td><%= landlord.address %></td>
        <td><%= link_to (fa_icon 'search'), landlord %></td>
        <td><%= link_to (fa_icon 'edit'), edit_landlord_path(landlord) %></td>
        <td><%= link_to (fa_icon 'trash'), landlord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landlord', new_landlord_path, class: 'btn btn-primary' %>
