<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>Landlord details:</h2>
      <p>
        <strong>Title:</strong>
        <%= @landlord.title %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= @landlord.first_name %>
      </p>

      <p>
        <strong>Surname:</strong>
        <%= @landlord.surname %>
      </p>

      <p>
        <strong>Contact number:</strong>
        <%= @landlord.contact_number %>
      </p>

      <p>
        <strong>Alternate number:</strong>
        <%= @landlord.alternate_number %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @landlord.email %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @landlord.address %>
      </p>
    </div>
    <div class="col">
      <h2>Rooms:</h2>
      <ul>
        <% @rooms.each do |room| %>
          <li><%= room.id %>: <%= room.room_details %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>


<%= link_to 'Edit', edit_landlord_path(@landlord), class: 'btn btn-primary' %> |
<%= link_to 'Back', landlords_path, class: 'btn btn-secondary' %>
