<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <%= link_to image_tag('logo.svg', class: 'img-fluid'), root_path, class: 'home-link' %>
      <% if user_signed_in? %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item <%= 'active' if current_page?(properties_path) %>">
              <%= link_to 'Properties', properties_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(rooms_path) %>">
              <%= link_to 'Rooms', rooms_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(landlords_path) %>">
              <%= link_to 'Landlords', landlords_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(events_path) %>">
              <%= link_to 'Events', events_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= 'active' if current_page?(tenants_path) %>">
              <%= link_to 'Tenants', tenants_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as <strong id="nav-username"><%= current_user.username %></strong>.
            <%= link_to fa_icon('user'), edit_user_registration_path, :class => 'edit-user navbar-link' %> |
            <%= link_to fa_icon('sign-out-alt'), destroy_user_session_path, method: :delete, class: 'navbar-link logout'  %>
          <% else %>
            <%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to 'Login', new_user_session_path, class: 'navbar-link login'  %>
          <% end %>
        </p>
      <% end %>
  </div>
</nav>
