<!DOCTYPE html>
<html>
  <head>
    <title>CityLets</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon-32x32.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render partial: "layouts/nav" %>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    <div id="remote_container"></div>
  </div>
  </body>
</html>
